.quarto-figure img {
    max-width: 100% !important;
    height: auto !important;
    display: block;
    margin: auto;
}

/* 选中 .hide-chapter-number 容器下的 直接子级 H1 的编号 */
section.hide-chapter-number > h1 .header-section-number {
  display: none;
}